src/conf/xml-resources/web-services/HotelReservationService/wsdl/HotelReservationWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="HotelReservationWSDL" targetNamespace="http://ws.hotelreservation"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.hotelreservation" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <types>
        <xsd:schema targetNamespace="http://ws.hotelreservation" xmlns:tns="http://ws.hotelreservation">
            <xsd:complexType name="hotelreservations">
                <xsd:sequence maxOccurs="unbounded">
                    <xsd:element name="name1" type="xsd:string"></xsd:element>
                    <xsd:element name="address" type="xsd:string"></xsd:element>
                    <xsd:element name="bookingnumber" type="xsd:string"></xsd:element>
                    <xsd:element name="priceofstay" type="xsd:double"></xsd:element>
                    <xsd:element name="iscreditcardguaranteeeneeded" type="xsd:boolean"></xsd:element>
                    <xsd:element name="nameofreservationservice" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="reservationrequest">
                <xsd:sequence>
                    <xsd:element name="city" type="xsd:string"></xsd:element>
                    <xsd:element name="arrivaldate" type="xsd:string"></xsd:element>
                    <xsd:element name="departuredate" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="request" type="tns:reservationrequest"></xsd:element>
            <xsd:element name="response" type="tns:hotelreservations"></xsd:element>
        </xsd:schema>
    </types>
    <message name="HotelReservationWSDLOperationRequest">
        <part name="input" element="tns:request"/>
    </message>
    <message name="HotelReservationWSDLOperationResponse">
        <part name="output" element="tns:response"/>
    </message>
    <portType name="HotelReservationWSDLPortType">
        <operation name="getHotels">
            <input name="input1" message="tns:HotelReservationWSDLOperationRequest"/>
            <output name="output1" message="tns:HotelReservationWSDLOperationResponse"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="HotelReservationWSDL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="HotelReservationWSDLPortTypeRole" portType="tns:HotelReservationWSDLPortType"/>
    </plnk:partnerLinkType>
</definitions>
